main {
  background-color: black;
  color: white;
  font-family: helvetica;
}

footer {
  background-color: #003249;
}

header {
  background-color: #007ea7;
}

nav {
  transition: .3s ease-in-out;
}

nav:hover {
  border-bottom: #ccbdbc 3px;
}

ul {
  list-style-type: ✰;
}
