@import '_variables';

form {
    background: $folder-color-dark;
    padding: 0.1em 1em;
    border-radius: 5px;

    ul {
        list-style: none;
        padding: 0;

        label {
            display: inline-block;
            width: 5.5em;
        }

        .form-buttons {
            display: flex;
            column-gap: 0.5em;

            input {
                width: 6em;
            }
        }
    }
}