@import '_variables';

:root {
    background: $background-color-dark;
    color: $text-color-light;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    margin-bottom: 1.5em;
    display: grid;
    place-items: center;
    width: 100%;
}